@media(max-width: 64em) {

    header,
    footer {
        padding: 10px;
        border: 10px double #fff;
    }

    .header img {
        width: 140px;
    }


    .header h1 {
        font-size: 27px;
    }

    body {
        max-width: 600px;
        width: 64rem;
    }

    nav ul {
        display: inline-block;
    }

    nav ul li.btn {
        padding-top: 10px;
    }

    nav {
        background-color: transparent;
        margin: 10px -30px;
    }

    main img {
        width: 150px;
    }

    section {
        display: block;
    }

    section .primary,
    .secondary,
    .background,
    .accent {
        margin: 0 70px;
    }

}