@media screen and (min-width: 800px) {
    #hamburger {
        margin-right: 100px;
    }

    /* MAIN */
    .home {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    #spot1,
    #spot2,
    #spot3 {
        margin-top: 20px;
    }

    #spot3 a {
        display: inline-block;
        margin: 10px;
    }

    #news,
    #weather {
        margin: 50px 0;

    }

    .board {
        text-align: center;
    }

    main section,
    main section div {
        background-color: #e5e5e5;
        margin: 10px;
        text-align: center;
        height: 280px;
    }

    main section {
        object-fit: cover;
        overflow: hidden;
    }

    nav a {
        text-align: center;
    }

    #event {
        grid-column: 1;
        grid-row: 2;
        /* height: 428px; */
    }

    #hero {
        grid-column: 1/3;
        grid-row: 1;
        height: 500px;
    }
   

    .stats {
        position: absolute;
        top: 10px;
        left: 60px;
        background: radial-gradient(#eee, #111c31);
        border: 1px solid rgba(0, 0, 0, .1);
        padding: 1.5rem;
        opacity: 0.8;
        width: 30%;
        height: 40vh;
    }

    .stats a {
        border: 1px solid #fff;
        padding: 10px;
        color: #fff;
        background: transparent;
        text-decoration: none;
        font-weight: bolder;
        border-radius: 4px;
    }

    .stats h2 {
        font-size: 60px;
    }

    #weather {
        grid-column: 1;
        grid-row: 4;
    }

    #weather h2 {
        margin-bottom: 45px;
    }

    #weather_top {
        margin-bottom: -150px;
        margin-top: -25px;
    }

    #join {
        grid-column: 2;
        grid-row: 2;
    }

    #news {
        grid-column: 2;
        grid-row: 4;
    }

    #spotlights {
        grid-column: 1/3;
        grid-row: 3;
        display: flex;
        flex-direction: row;
        height: 300px;
    }

    #spot1,
    #spot2,
    #spot3 {
        width: 31%;
    }

    #spot1 img,
    #spot2 img,
    #spot3 img {
        width: 100%;
        overflow: hidden;
        position: relative;
        bottom: 125px;
    }

    #spot1 h3,
    #spot2 h3,
    #spot3 h3 {
        position: relative;
        top: 75px;
        font-size: 2em;
    }

    /* FOOTER */

    #about {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #about img {
        grid-column: 2;
        width: 250px;
        margin: auto;
    }

    #address {
        grid-column: 1;
        grid-row: 1;
        line-height: .5em;
    }

    #contact {
        grid-column: 3;
        grid-row: 1;
        /* line-height: .5em; */
    }

    #copyright-large {
        display: block;
    }

    .discover div:hover {
        -moz-box-shadow: 0 0 10px #ccc;
        -webkit-box-shadow: 0 0 10px #ccc;
        box-shadow: 0 0 10px #ccc;
    }
}