@media(max-width:842px){
    body{
        width: 100%;
        margin: 0 auto;
       }

    .header, footer{
        font-size: 18px;
        width: 450px;
        margin: 0 auto;
        border-radius: 0;
    }
    nav .navigation{
        display: inline-block;
     }
     
    nav .navigation{
        padding:  10px 100px;

  }
 
    header{
        margin-top: 1650px;
       }
     

    main{
        width: 450px;
        margin: 0 auto;
    }

    .header{
        margin-top: 600px;
        border-radius: 0;
    }

    header{
        border-radius: 0;
    }

    /* nav css */
    /* Small/Phone View ***************/
nav {
	width: 60%;
    margin: 0 auto;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
	content: "";
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}
/* 
.responsive a.ham::before {
	content: "❌";

} */

/* grid */
.grid{
    padding: 0;
    margin: 0;
    margin-left: 5%;
    display: inline-block;
 }
 
 
 .grid-column-1{
    height: 40vh;
    border: 2px double red;
    margin-left: -1px;
    grid-column: 4/5;
    grid-row: 1/6;
 }
 
 .grid-column-2 {
    height: 40vh;
    border: 2px double red;
    grid-column: 1/4;
    grid-row: 5/6;
 }
 
 .grid-column-3 {
    width: 200px;
    height: 40vh;
    border: 2px double red;
    grid-column: 4/5;
    grid-row: 1/6;
 }
 
 .grid-column-4 {
    width: 200px;
    height: 40vh;
    border: 2px double red;
    margin-left:-1px;
    grid-column: 1/5;
    grid-row: 2/3;
 }
 
 .grid-column-5 {
    width: 200px;
    height: 40vh;
    margin-right: 60px;
    border: 2px double red;
    grid-column: 1/3;
    grid-row: 3/4;
    margin-right: 80px;
   
 }
 
 .grid-column-6 {
    margin-left: -1px;
    border: 2px double red;
    background-color: #fff;
    width: 200px;
    height: 40vh;
    grid-column: 3/5;
    grid-row: 3/4;
 }
 
 
 .grid-column-8, .grid-column-7 {
    display: none;
 }

/* end */



    .footer{
        display: inline-block;
        width: 100%;
       
    }
    .column1 img{
        width: 100px;
        margin-left: 20px;
    }
    .column1 h1{
        margin-left: 20px;
    }
    .column2{
        font-size: 15px;
        margin-right: 900px;
        letter-spacing: 10px;
        
    }



    .grid-column-1{
        width: 200px ;
    }

    .grid-column-2{
        width: 200px ;
    }

    .column3{
        display: none;
    }
    
}

@media(max-width:400px){
    body{
        width: 400px;
        margin: 0 auto;
    }
    .header{
        padding: 10px;
    }
    .header{
        margin-top: 1000px;
    }
    header{
        margin-top: 1600px;
    }
}